        /** Slides*/
    .carousel {
        position: relative;
        max-width: 100%; 
        overflow: hidden;
        z-index: 900;
    }
    
    .carousel-wrapper {
        display: flex;
        transition: transform 1s ease;
    }
    
    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        height: 30rem; 
        
    }
    
    .carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
    }
    
    .carousel-prev, .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border: 0.8rem solid transparent; 
        cursor: pointer;
    }
    
    .carousel-prev {
        left: 0;
        border-right: 2rem solid white;
    }
    .carousel-prev:hover{
        left: 0;
        border-right: 2rem solid #29166F;
        transition: 1s;
    }
    .carousel-next {
        right: 0;
        border-left: 2rem solid white ;
    }
    .carousel-next:hover{
        right: 0;
        border-left: 2rem solid #29166F;
        transition: 1s;
    }    
    
